@model List<JogoViewModel>
@{
    ViewData["Title"] = "Loja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loja</h2>
<br />
<a class="btn btn-default form-control" href="/Home/Busca">Pesquisar em Jogos</a>
<br />


<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Publicadora</th>
            <th>Desenvolvedora</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (JogoViewModel item in Model)
        {          
            <tr>
                <th><img id="imgPreview" src="data:image/jpeg;base64,@item.ImagemEmBase64" class="img-responsive" width="100"></th>
                <th>@item.Nome</th>
                <th>@item.Preco.ToString("R$#.00")</th>
                <th>@item.NomeCategoria</th>
                <th>@item.NomePublicadora</th>
                <th>@item.NomeDesenvolvedora</th>
                <th><a class="btn btn-default" href="/Home/Jogo?Id=@item.Id">Abrir</a></th>
            </tr>
        }
    </tbody>
</table>


